body {
	font-family: "Cuprum", Arial, sans-serif;
	background-color:#ffffff; 
}

.btn-gm {
	background-color: #414390;
	color: #ffffff;
}

.sketch_hud {
	height: 38px;
}

.tar {
	display: inline-block;
	width: 100%;
	position: relative;
}

/*канва*/
.div_canvas {
	display: inline-block;
	width: 100%;
}

canvas {
	margin: 10px 0px;
	background: #e2e2e2;
	border-top: 2px solid #414099;
	border-bottom: 2px solid #414099;
}

/* для мобилки */
#sketch_editor {
	display: block;
	margin-top: 10px;
}

/* кнопонька изменения линии */
.grid_check {
    position:absolute;
    top: 10px;
    left: 10px;
}
label .grid_check {
 width: 29px;
 height: 27px; 
 display: block; 
 position: relative;
}
.grid_check input[type="checkbox"] + span {
 position: absolute; /* Абсолютное позиционирование */
 left: 6px; top: 6px;
 width: 24px; height: 24px;
 background: url('grid.png') no-repeat; /* Фоновый рисунок */
 cursor: pointer; /* Курсор в виде руки */
}
.grid_check input[type="checkbox"]{
    display: none;
}
.grid_check input[type="checkbox"]:checked + span   {
 background:url('grid.png') no-repeat;
 background-position:0px -24px;
}
.btn.grid_check {
    padding: 18px;
}
/*--------*/

#cancelLastAction {
	margin-left: 58px;
}

#reset {
	margin-left: 6px;
}

#back {
	position: absolute;
	right: 10px;
	top: 10px;
}

/* клавиатурка */
#window {
	display: none;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	max-width: 360px;
	height: 158px;
	padding: 10px;
	margin: auto;
	background: #ffffff;
}

.numpad {
	width: 280px;
}

.numpad td {
	padding: 4px;
}

.but_num {
	width: 48px;
	height: 38px;
	text-align:center;
	background-color:#404199; 
	border: 1px solid #414099; 
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px; 
	border-radius: 15px;
	font-size: 20px;
	color:#ffffff;
	font-weight:bold; 
	text-decoration:none;
	cursor: pointer;
}

.but_num:active, .sketch_hud:active {
	background-color:#2a2b64; 
}

.but_num:hover, .sketch_hud:hover {
	color:#9f99fb; 
}

#newLength {
	width: 104px;
	height: 38px;
	font-size: 20px;
	padding-left: 10px;
	color: #414099;
	border: 2px solid #414099;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px; 
}

#ok {
	width: 104px;
	height: 38px;
}
/*---------*/

#open_popup {
	margin-bottom: 10px;
	margin-top: 0px;
}

/* для монитора */
#sketch_editor2 {
	display: none;
	position:absolute;
	height: 100%;
	margin-top: 0px;
}

#back2 {
	position: relative;
	top: 15px;
	margin-bottom: 15px;
	margin-left: 100px;
}

#cancelLastAction2 {
	width: 100%;
	margin-top: 15px;
	margin-bottom: 15px;
}

#reset2 {
	width: 100%;
	margin-bottom: 15px;
}

#open_popup2 {
	display: none;
	position: absolute;
	bottom: 15px;
	width: 100%;
}

#newLength2 {
	width: 100%;
	height: 38px;
	font-size: 20px;
	padding-left: 10px;
	color: #414099;
	border: 2px solid #414099;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px; 
}

#numback2 {
	width: 100%;
}

#numpadMonitor {
	display: none;
}

#numpadMobile {
	display: block;
}

@media screen and (orientation:landscape) {
	.div_canvas {
		height: 100%;
	}
	canvas {
		margin: 0px 10px 0px 0px;
		border-top: 0;
		border-bottom: 0;
		border-right: 2px solid #414099;
	}
	#sketch_editor {
		display: none;
	}
	#sketch_editor2 {
		display: inline-block;
	}
	.grid_check {
		position: relative;
		top: 15px;
		left: 0px;
		margin-bottom: 15px;
	}
	#open_popup {
		display: none;
	}
	#open_popup2 {
		display: block;
	}
	#window {
		left: auto;
		bottom: 53px;
		max-width: 190px;
		height: 250px;
		padding: 0;
		margin: 0 5px 0 0;
	}
	.but_num {
		width: 52px;
	}
	#numpadMobile {
		display: none;
	}
	#numpadMonitor {
		display: block;
	}
	.numpad {
		width: 180px;
	}
}

#popup
{
	width: 320px;
	height: 160px;
	
}

#popup2
{
	width: 320px;
	height: 120px;
}

#popup3
{
	width: 420px;
	height: 200px;
}

#popup, #popup2, #popup3
{
	border-radius: 2px;
	border: 2px solid #414099;
	margin: 60px auto;
	left: 0px;
	right: 0px;
	display: none;
	background: #ffffff;
	position: fixed;
	padding: 10px;
	font-size: 12pt;
	font-weight: bold;
	z-index: 1;
}

#textarea_koordinats
{
	width: 340px;
	height: 90px;
	resize: none;
}

/*PRELOADER*/
.PRELOADER_GM
{
	position: fixed;
	top: 0;
	left: 0;
	display: inline-block;
	background-color: rgb(54,53,127);
	width: 100vw;
	height: 100vh;
	line-height: 100vh;
	text-align: center;
	z-index: 1000;
}
.PRELOADER_GM_OPACITY
{
	background-color: rgba(54,53,127,.7);
}
.PRELOADER_GM .PRELOADER_BLOCK {
	position: absolute;
	top: calc(100%/2 - 110px);
	left: calc(100%/2 - 110px);
	width: 220px;
	height: 220px;
	display: inline-block;
	transform: rotate(0deg);
	border: 10px dashed rgb(255,255,255);
	border-radius: 110px;
	animation: PRELOADER 4s infinite linear;
	z-index: 1001;
}
.PRELOADER_GM .PRELOADER_IMG {
	position: absolute;
	top: calc(100%/2 - 100px);
	left: calc(100%/2 - 100px);
	width: 200px;
	height: 200px;
	vertical-align: middle;
	text-align: center;
	transform: rotate(0deg);
	z-index: 1002;
}
@keyframes PRELOADER {
	from { transform: rotate(0deg); }
	to { transform: rotate(359deg); }
}