<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ru.ejevikaapp.gm_android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_foreground"
        android:label="@string/app_name"
        android:launchMode="singleTop"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Dealer.Dealer_office"
            android:label="@string/title_activity_dealer_office"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity_add_client"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity_upd_client"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Gager_office"
            android:label="@string/title_activity_gager_office"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Manager_office"
            android:label="@string/title_activity_manager_office"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Chief_office"
            android:label="@string/title_activity_chief_office"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity_upd_brigade"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity_draft"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity_color"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity_inform_proj"
            android:label="Просмотр проекта"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Fragments.Activity_calcul"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity_inform_zapysch"
            android:label="Просмотр проекта"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Manager.Activity_started_projects"
            android:screenOrientation="portrait" />

        <service android:name=".Service_Sync" />

        <activity android:name=".Activity_zamer" />

        <receiver
            android:name=".Service_Sync_Import$Alarm"
            android:exported="true">
            <intent-filter>
                <action android:name="net.multipi.ALARM" />
            </intent-filter>
        </receiver>

        <service
            android:name=".Service_Sync_Import"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".Send_All"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".Crew.Activity_crew"
            android:label="Кабинет монтажника"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Crew.Activity_calendar"
            android:label="Календарь работ"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Crew.Activity_mounting_day"
            android:label="Монтажи"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Crew.Activity_mounting_info"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Dealer.Activity_client"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Dealer.Activity_empty"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Dealer.Activity_spisok_brigade"
            android:label="Бригады"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Dealer.Activity_add_brigade"
            android:label="Новая бригады"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Dealer.Activity_for_spisok"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Dealer.Activity_margin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Dealer.Activity_mounting"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Dealer.Activity_empty_mounting"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegistrationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityEstimate"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityPrice"
            android:label="Прайсы"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Dealer.Activity_analytics"
            android:label="Аналитика"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Dealer.Activity_price_canvases"
            android:label="Прайс полотен" />
        <activity
            android:name=".Dealer.Activity_price_components"
            android:label="Прайс компонентов" />
        <activity
            android:name=".Dealer.Activity_price_mounting"
            android:label="Прайс монтажных работ" />
        <activity
            android:name=".Dealer.ActivitySumUsers"
            android:label="Детализация счета" />
        <activity
            android:name=".Dealer.ListOfMeasurers"
            android:label="Замерщики" />
        <activity android:name=".Dealer.MeasurerDay"
            android:label="Замеры"/>
    </application>

</manifest>